.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;

  h3 {
    font-size: 2rem;
    font-weight: lighter;
    color: rgba(87, 87, 87, 0.747);
  }

  img {
    width: 300px;
    object-fit: contain;
  }


}